.btn {
    position: relative;
    display: inline-block;
    padding: 0.5em 2em;
    cursor: pointer;
    overflow: hidden;
  }
  .border_box {
    font-weight: 600;
    font-size: 40px;
    color: #fff;
  }
  .button_div_page3 {
    margin-left: 44.2%;
    margin-top: -4%;
  }
  .heading_box {
    margin-left: 7%;
  }
  .btn:before,
  .btn:after {
    content: "";
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #fff;
  }
  .btn:before {
    top: 0;
  }
  .btn:after {
    bottom: 0;
  }
  .btn:hover > * > *:before,
  .btn:hover > * > *:after {
    transform: translate3d(0, 0, 0);
  }
  .btn:hover > * > * > *:before,
  .btn:hover > * > * > *:after {
    transform: translate3d(0, 0, 0);
  }
  .btn > *:before,
  .btn > *:after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: #fff;
  }
  .btn > *:before {
    left: 0;
  }
  .btn > *:after {
    right: 0;
  }
  .btn > * > *:before,
  .btn > * > *:after {
    content: "";
    position: absolute;
    left: 0;
    z-index: 9;
    height: 2px;
    width: 100%;
    background-color: #d1ce0f;
  }
  .btn > * > *:before {
    top: 0;
    transform: translate3d(-105%, 0, 0);
    transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .btn > * > *:after {
    bottom: 0;
    transform: translate3d(105%, 0, 0);
    transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .btn > * > * > *:before,
  .btn > * > * > *:after {
    content: "";
    position: absolute;
    top: 0;
    z-index: 9;
    height: 100%;
    width: 2px;
    background-color: #d1ce0f;
  }
  .btn > * > * > *:before {
    left: 0;
    transform: translate3d(0, 105%, 0);
    transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .btn > * > * > *:after {
    right: 0;
    transform: translate3d(0, -105%, 0);
    transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .rules_content {
    margin-top: 1rem;
    margin-left: 2rem;
  }
  .rules_content ul li {
    padding: 10px;
    background: #28282B;
    margin-bottom: 3px;
    border-radius: 10px 0 10px 0;
    width: 90%;

  }
  .rules_content ul li:hover {
    background-color: #121212;
  }

  .rules_content h4 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .rules_content ul {
    margin-bottom: 1rem;
  }
/* 
  .toast1 {
    width: 250px;
    position: absolute;
    top: 5rem;
    right: 20rem;

  } */

  .prize_money {
    list-style:none;
    margin-top: 1rem;
  }

  .notifications_content {
    /* margin-left: 1.8rem; */
    width: 90%;
    margin-top: 2rem;
    padding: 10px;
    
  }
  .notifications_content ul {
    list-style: none;
  }
  .notifications_content ul li {
    margin-bottom: 10px;
    background-color: #28282B;
    padding: 10px;
    border-radius: 2px;
  }
  .notifications_content ul li:hover {
    background-color: #121212;
  }

  .close {
    background-color: #ffffff;
    color: black;
    box-shadow: none;
    padding: 5px;
  }
  

    .modalBackground {
      background-color: #444147;
      margin: 0 auto;
      margin-top: 2rem;
      margin-bottom: 3rem;
      padding: 10px;
      padding-bottom: 2rem;
      width: 80%;
      z-index: 10;
      position: fixed;
      top: auto;
      left: auto;
      border: 2px solid white;
      border-radius: 5px;
    }

    .modalBackground h1 {
      margin-bottom: 2rem;
    }

  @media screen and (max-width: 768px) {
    .border_box {
      margin-left: 0%;
      font-size: 25px;
    }

    .item {
      min-width: 300px;
    }

    .row {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 20px;
    }

    .last {
      margin-right: 10px !important;
    }
    .heading_box {
        margin-top: 13%;
      }
}

.item {
  font-family: "Inter",sans-serif!important;
  color: #1c4980;
  font-size: 15px;
  overflow-wrap: break-word;
  box-sizing: inherit;
  outline: 0;
  position: relative;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  z-index: 9;
  background: #ffffff;
  box-shadow: .67px 3.67px 8px #186edf3b;
  border-radius: 13px;
  padding: 20px 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
  max-width: 445px;
  width: calc(45% - 20px);
}

.d-flex {
  margin: -10px;
  flex-wrap: wrap;
}

.certificate {
  font-size: 12px;
  color: #fff;
  margin-top: 3px;
  margin-bottom: 0;
  background: #d63500;
  transform: rotate(45deg);
  position: absolute;
  right: -34px;
  top: 14px;
  padding: 5px 29px;
  font-weight: 600;
}

.heading {
  color: black;
  font-size: 30px;
}

.row {
  display: flex;
}

.trophy_icon {
  font-family: "Inter",sans-serif!important;
  color: #1c4980;
  font-size: 15px;
  overflow-wrap: break-word;
  aspect-ratio: auto 78 / 78;
  box-sizing: inherit;
  outline: 0;
  display: block;
  width: 60px;
  height: auto;
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.last {
  margin-right: 40px;
}

.end {
  justify-content: center;
}

