.event_img {
  width: 100%;
}
.event_img img {
  width: 100%;
  height: 100%;
  min-height: 240px;
}

.registration {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.registration p {
  padding-top: 1rem;
}

.referal {
    font-weight: 700;
    font-size: 1.2rem;
    background: -webkit-linear-gradient(#ed3bed, #59b3f4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: dashed;
    padding: 5px;
    border-radius: 5px;
    border-width: 1px;
}

.event_content {
    width: 90%;
    margin: 1rem auto;
}


.description p {
    font-size: medium;
    color: darkgray;
}

.event_content h2 {
    margin: 1rem 0;
    margin-top: 2rem;
}

.prizes ol {
    color: rgb(193, 191, 191);
    margin-left: 1rem;
    margin-top: 1rem;
}

.prizes h2 {
  background: -webkit-linear-gradient(cyan, rgb(231, 243, 249));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.dates ul {
    color: rgb(193, 191, 191);
}

.first {
  font-size: 20px;
  color: rgb(42, 176, 176);
}
.second {
  font-size: 18px;
  color: #af28af;
}
.third {
  font-size: 16px;
  color: rgb(187, 84, 47);
}

.prizes ul li {
  background-color: #000000;
    background-image: linear-gradient(120deg, #000000 0%, #171717 74%);
    padding: 10px;
    border-radius: 5px;
    list-style: none;
}


@media screen and (max-width: 1024px) {
  .registration {
    flex-direction: column;
  }
  .registration p {
    margin-top: -1rem;
  }
    .event_img img {
      object-fit: cover;
    }
}
