@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

body{
  overflow-x: hidden;
}
pre {
  font-family: 'Work Sans', sans-serif;
  margin: 1rem 1rem;
  line-height: 2rem;
  text-align: left;
  color: aliceblue;
  width: 70%;
    margin: 0px auto 1rem auto;
}
.title{
  text-transform: uppercase;
  font-family: 'Comic Neue', cursive;
  font-size: 1.5rem;
  color: #10d6f5;
  margin-bottom: 2rem;
  opacity: 1;
  animation-name: titleanim;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  text-align: center;
}
@keyframes titleanim{
  from{
    opacity: 0%;
    font-size: 1.5rem;
  }
  to{
    opacity: 100%;
    font-size: 1.8rem;
    font-weight: bold;
  }
}
.datapreview{
    display: block;
    overflow-y: hidden;
    /* text-align: center; */
    /* border: 2px solid red; */
    font-family: 'Comic Neue', cursive;
    color: #d1ce0f;
    width: 100%;
    margin: auto auto;
    opacity: 0%;
    animation-name: datapreviewanim;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes datapreviewanim{
  from{
    opacity: 0%;
    font-size: 1.5rem;
    color: #5f5f53;
  }
  to{
    opacity: 100%;
    font-size: 1.5rem;
    color: #d1ce0f;
  }
}
  .datapreview summary{
    font-size: 1.4rem;
    font-family: 'Comic Neue', cursive;
    border-radius: 0.7rem;
    position: sticky;
    background: white;
    background: #10d6f5;
    background: #353746;
    background: #404252;
    height: 40px;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: #d1ce0f;
    color: inherit;
    font-weight: 200;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 1%;
    height: 3.5rem;
    box-shadow: 4px 4px 20px -2px #353746;
    transition: all 0.4s;
    width: 70%;
    margin: 0px auto 1rem auto;
    overflow-x: hidden;
  }
  .datapreview summary .code{
    font-size: 1.4rem;
    /* border-radius: 1rem; */
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    position: relative;
    /* background: #ac9b63; */
    color: aliceblue;
    height: 40px;
    width: max-content;
    text-transform: uppercase;
    margin-bottom: 0;
    color: inherit;
    font-weight: 200;
    display: flex;
    flex: 1;
    justify-content: left;
    align-items: center;
    /* padding-left: 2%; */
    box-shadow: 4px 4px 20px -2px #353746;
    transition: all 0.4s;
  }
  .datapreview summary:hover{
    transform: translateY(-2px);
    color: #f0fc04;
    font-weight: bolder;
    cursor: pointer;
    /* box-shadow:  2px 2px 6px -1px rgba(0, 0, 0, 0.35); */
    transition: all 0.4s;
  }
  .datapreview details:hover{
    transform: translateY(-2px);
    /* color: #dfe0e1 ; */
    font-weight: lighter;
    cursor: pointer;
    /* box-shadow:  2px 2px 6px -1px rgba(0, 0, 0, 0.35); */
    transition: all 0.4s;
  }
  /* .datapreview :hover{
    color: #1bd6f5;
    cursor: pointer;
    transition: all 0.8s;
  } */
  .datapreview h3{
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .datapreview .answer{
    display: block;
    width: 70%;
    overflow-x: scroll;
    margin: 0px auto 1rem auto;
    /* padding-: 1rem; */
    background-color: rgb(44, 44, 44);
    /* overflow-x: hidden; */
  }
  .line-numbers{
    border-left: 2rem solid #464646;
    margin-left: 0rem;
    padding-top: 1rem;
    padding-left: 0.5rem;
    /* cursor: text; */
  }
  
  @media screen and (max-width: 1024px) {
    .datapreview summary{
      width: 100%;
      margin: 0px auto 1rem auto;
    }
    .datapreview .answer{
      width: 100%;
    }
    .datapreview h3{
      margin-right: 1rem;
    }
    h3 pre{
      margin: 0.5rem;
      width: 99%;
      display: block;
      overflow-x: scroll;
    }
  }