:root {
  --white: #fff;
  --text-clr: #000024;
  --primary: #10d6f5;
  --secondary: #555;
  --input-bg: #e5e5e5;
  --btn-hvr: #1a0065;
 }
 
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  /* font-family: "Open Sans", sans-serif; */
 }
 
 #fresher-selection body {
  /* background: var(--primary); */
  /* font-size: 14px; */
  color: var(--text-clr);
 }
 
 #fresher-selection .wrapper {
  width: 100%;
  padding: 0 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
 }
 
 #fresher-selection .r_form_wrap {
  width: 650px;
  max-width: 100%;
 }
 
 #fresher-selection .r_form_wrap .title {
  padding: 25px;
  background: var(--white);
  border-radius: 3px;
  margin-bottom: 20px;
 }
 
 #fresher-selection .r_form_wrap .title p {
  font-size: 25px;
  text-align: center;
  color: var(--text-clr);
  font-weight: 900;
 }
 
 #fresher-selection .r_form {
  padding: 40px;
  border-radius: 3px;
  background: var(--white);
 }
 
 #fresher-selection .r_form .input_wrap {
  width: 100%;
  margin-bottom: 25px;
 }
 
 #fresher-selection .r_form .input_wrap label {
  display: block;
  margin-bottom: 5px;
  color: var(--text-clr);
 }
 
 #fresher-selection .r_form .input_wrap .input_item {
  position: relative;
  width: 100%;
 }
 
 #fresher-selection .r_form .input_wrap .input_item .input {
  width: 100%;
  border-radius: 3px;
  height: 40px;
  border: 2px solid var(--input-bg);
  background: var(--input-bg);
  padding: 10px 10px;
  transition: 0.5s ease;
  color: var(--secondary);
  font-size: 0.8rem;
 }
 
 #fresher-selection .r_form .input_wrap .input_item .input:focus {
  border-color: var(--primary);
 }
 
 /* #fresher-selection .r_form .input_wrap .input_item .icon {
  position: absolute;
  top: 12px;
  left: 20px;
  color: var(--secondary);
  font-size: 16px;
 } */
 
 #fresher-selection .r_form .input_wrap .input_radio {
  display: flex;
 }
 
 #fresher-selection .r_form .input_wrap .input_radio .input_radio_item {
  background: var(--input-bg);
  margin-right: 25px;
  padding: 20px;
  border-radius: 3px;
  position: relative;
  width: 190px;
 }
 
 #fresher-selection
  .r_form
  .input_wrap
  .input_radio
  .input_radio_item
  .radio_mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  color: var(--secondary);
  border: 2px solid transparent;
  border-radius: 3px;
  margin: 0;
  cursor: pointer;
  transition: 0.5s ease;
 }
 
 #fresher-selection
  .r_form
  .input_wrap
  .input_radio
  .input_radio_item
  .radio_mark
  .i {
  margin-right: 5px;
  display: inline-block;
 }
 
 #fresher-selection .r_form .input_wrap .input_radio .input_radio_item .radio {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
 }
 
 #fresher-selection
  .r_form
  .input_wrap
  .input_radio
  .input_radio_item
  .radio:checked
  ~ .radio_mark {
  color: var(--primary);
  border-color: var(--primary);
 }
 
 #fresher-selection .button {
  width: 100%;
  border: 0;
  background: var(--primary);
  padding: 10px;
  border-radius: 5px;
  height: 50px;
  color: var(--white);
  cursor: pointer;
  transition: 0.5s ease;
  font-family: "Poppins";
  font-size: 20px;
 }
 
 #fresher-selection .button:hover {
  background: var(--btn-hvr);
 }
 #freshers-selection .toast {
  z-index: 10005;
 }
 .radio_mark {
  font-size: 0.8rem;
 }
 @media screen and (max-width: 950px) {
  #fresher-selection .input_radio_item {
    background: var(--input-bg);
    margin-right: 5px !important;
    padding: 32px !important;
    border-radius: 3px;
    position: relative;
    width: 190px;
   }
   
 }